
body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  background-image: url(images/backgroundBrasacopy.jpg);
}

#store-link{
  margin-right: auto;
}

#search{
  text-align: center;
  align-items:center;
  justify-content: center;
  width: 800px;
  height: 400px;
}

#main-logo{
  width: 450px;
  margin-top: 100px;
}
#search-bar{
  height: 34px;
  font-size: 17px;
  border-radius: 17px;
  border: 1px solid #0288D1;
  width: 200%;
  max-width: 500px;
  padding-left: 35px;
  padding-right: 20px;
  margin-top: 20px;
  background-image: url(images/searchpic.png);
  background-position: 7px;
  background-repeat: no-repeat;
  background-size: 30px 30px; 
}

#search-bar:hover,
#search-bar:focus{
  box-shadow: 0px 0px 5px #c2c2c2;
}

#search-buttons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}


#message-button{
  letter-spacing: 2px;
}
