
#all{
    background-color: #007abc63;
    border-radius: 40px;
    align-items: center;
    text-align: center;
}

#intropage{
    margin-top: 120px;
    text-align: center;
}

#profile-pic2{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    box-shadow: 0px 0px 20px #939393;
    margin-left: 50px;
}


#box{
    width: 800px;
    height: 300px;
    padding: 10px;
    text-align: center;
    border-radius: 16px;
    display: flex;
    margin-top: 10px;
    align-items: center;
}

#picture {
    flex: 1;
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
#intro {
    flex: 3; 
    padding: 50px 15px;
    margin: 10px;
    box-sizing: border-box;
    /*border-top: 2px solid #a8a8a8;
    border-bottom: 2px solid #a8a8a8;*/
    background-color: transparent;
    text-align: left;
    margin-right: 50px;
    margin-top: 40px;

}

#name{
    font-size: 48px;
    letter-spacing: 2px;
    margin-bottom: 6px;
    color: black;
}

.intro-text{
    font-size: 15px;
    padding-top: 5px;
    margin-bottom: 5px;
    line-height: 20px;
    color: rgb(79, 79, 79);
}

#buttons{
    display: flex;
    margin-top: 5px;
    padding-bottom: 15px;
    width:400px;
    margin-bottom: 7px;
}

.logo-button{
    width: 30px;
    height: 30px;
    border: 2px solid black; 
    border-radius:16px;
    background-size: 40px;
    margin-right: 10px;
    background-color: #93939300;
}
.logo-button:hover{
    box-shadow: 0px 0px 10px #858585;
}
#message-button{
    letter-spacing: 1px;
    border: 2px solid black;
    border-radius: 18px;
    height:34px;
    width: 120px;
    background-color: transparent;
    text-align: center;
    align-items: center;
    font-size: 15px;
}

#message-button:hover{
    box-shadow: 0px 0px 10px #a2a2a2;
}

#about-box{
    flex:1;
    width: 400px;
    height: 400px;
    align-items: center;
    text-align: center;
    border-right: #858585 solid;
    margin-top: 40px;
}

#info{
    border-top:1px black solid;
    width: 700px;
    align-items: top;
    text-align: left;
    height: 200px;
    margin-left: 7%;
    padding-top: 40px;
    display: flex;
}

.label{
    margin-left: 50px;
    font-weight: bold;
    color: black;
    font-size: 25px;
}
.words{
    margin-left: 50px;
    color: black; 
}

#education{
    flex:1;
}

#information{
    flex:1;
}